* {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    background-color: rgb(233, 232, 232);
    border: 1px solid gray;
    box-shadow: 1px 1px 1px black;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

header h1 {
    margin: 15px;
}

header button {
    height: 45px;
    width: 60px;
    background-color: rgb(204, 203, 203);
    border-radius: 5px;
    margin: 15px;
}

body {
    height: 100vh;
    font-size: 20px;
}

#contentBody div {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 15px gray;
}

#contentBody {
    display: flex;
    gap: 5px;
}

form {
    position: absolute;
    width: 200px;
    height: 250px;
    padding: 20px;
    background-color: rgb(240, 239, 239);
    top: 10%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    border: solid 1px black;
    box-shadow: 0 0 100px rgb(122, 122, 122);
    display: flex;
    flex-direction: column;
}

form button {
    height: 25px;
    width: 50px;
}